// COLORS
$primary-color:#870000;
$secondary-color:#190A05;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #fff;

$footer-color: #540000;

$dark-blue-text:#D43F3F; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
